{% load staticfiles %}
<!-- Short About -->
<section class="visible-md visible-lg">
    <hr><h5><a href="#">ABOUT ME</a></h5>
    <div class="short-about">
            <img src="{% static 'img/avatar.jpeg' %}"/>
            <p>非不可为也，乃不为也</p>
        <!-- SNS Link -->
        <ul class="list-inline">

            <li>
                <a href="https://twitter.com/Lwx6666">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </li>

            <li>
                <a target="_blank" href="http://weibo.com/wixgo">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </li>

            <li>
                <a target="_blank" href="https://www.facebook.com/handsomelwx">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </li>

            <li>
                <a target="_blank" href="https://github.com/weixianglin">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </li>

        </ul>
    </div>
    </section>
