<head>
    <meta charset="utf-8">
    <title>{{ website_title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    {% load staticfiles %}
    {% load blog_tags %}

    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}">

    <!-- Font-Awesome -->
    <link rel="stylesheet" href="{% static 'blog/css/font-awesome/css/font-awesome.min.css' %}">

    <!-- Google Webfonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600|PT+Serif:400,400italic' rel='stylesheet' type='text/css'>

    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}" id="theme-styles">

    <link rel="stylesheet" href="{% static 'blog/css/friendly.css' %}">

    <!--[if lt IE 9]>
        <script src="{% static 'blog/js/vendor/google/html5-3.6-respond-1.1.0.min.js' %}"></script>
    <![endif]-->

</head>